.pure-menu-item {
  height: auto;
}
.pure-table {
  width: 100%;
}
.alert {
  position: relative;
  /*margin-bottom: 1em;*/
  padding: 0.75em;
  background: #ccc;
  /*border-radius: 3px;*/
}
.alert-error {
  background-color: #D13C38;
  color: #fff;
}
.alert-simple {
  background-color: rgb(209, 235, 238);
  color: rgb(102, 131, 145);
}
.alert-warning {
  background-color: rgb(250, 191, 103);
  color: rgb(151, 96, 13);
}
.alert-success {
  background-color: rgb(83, 180, 79);
  color: #fff;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-xsmall {
    font-size: 70%;
}
.button-small {
    font-size: 85%;
}
.button-large {
    font-size: 110%;
}
.button-xlarge {
    font-size: 125%;
}
.pure-button {
  margin-right: 5px;
}
